In [1]:
# To convert timestamp string to date-time

# Installing the necessary packages:

install.packages("tidyverse")
library(tidyverse)
library(lubridate)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.1.2     ✔ dplyr   1.0.6
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union

In [2]:
# Let us create a dataframe containing timestamps:

column_1 <- c("1511870400", "1534871424", "2111870440")
df <- data.frame(column_1)

# Previewing the formed dataframe:

head(df)

  column_1
1 1511870400
2 1534871424
3 2111870440

In [3]:
df <- df %>% mutate(column_1=as.numeric(as.character(column_1)))

head(df)

  column_1
1 1511870400
2 1534871424
3 2111870440

In [4]:
# Now converting the timestamp to datetime using the POSIXct base function:

head(as.POSIXct(as.numeric(as.character(df$column_1)), origin="1970-01-01", tz="GMT"))

[1] "2017-11-28 12:00:00 GMT" "2018-08-21 17:10:24 GMT"
[3] "2036-12-02 22:40:40 GMT"

In [6]:
# Storing it in a new column in the dataframe:

df$column_2 <- head(as.POSIXct(as.numeric(as.character(df$column_1)), origin="1970-01-01", tz="GMT"))

In [7]:
head(df)

  column_1   column_2
1 1511870400 2017-11-28 12:00:00
2 1534871424 2018-08-21 17:10:24
3 2111870440 2036-12-02 22:40:40