In [1]:
# Installing the required packages:

install.packages("tidyverse")
library(tidyverse)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.1.2     ✔ dplyr   1.0.6
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [4]:
# Uploading the datasets to be merged:

dataset_1 <- read_csv("dailyActivity_merged.csv")
dataset_2 <- read_csv("/sleepDay_merged.csv")

── Column specification ────────────────────────────────────────────────────────
cols(
  Id = col_double(),
  ActivityDate = col_character(),
  TotalSteps = col_double(),
  TotalDistance = col_double(),
  TrackerDistance = col_double(),
  LoggedActivitiesDistance = col_double(),
  VeryActiveDistance = col_double(),
  ModeratelyActiveDistance = col_double(),
  LightActiveDistance = col_double(),
  SedentaryActiveDistance = col_double(),
  VeryActiveMinutes = col_double(),
  FairlyActiveMinutes = col_double(),
  LightlyActiveMinutes = col_double(),
  SedentaryMinutes = col_double(),
  Calories = col_double()
)



── Column specification ────────────────────────────────────────────────────────
cols(
  Id = col_double(),
  SleepDay = col_character(),
  TotalSleepRecords = col_double(),
  TotalMinutesAsleep = col_double(),
  TotalTimeInBed = col_double()
)

In [6]:
# Previewing both the datasets:

head(dataset_1)
head(dataset_2)

  Id         ActivityDate TotalSteps TotalDistance TrackerDistance
1 1503960366 4/12/2016    13162      8.50          8.50
2 1503960366 4/13/2016    10735      6.97          6.97
3 1503960366 4/14/2016    10460      6.74          6.74
4 1503960366 4/15/2016     9762      6.28          6.28
5 1503960366 4/16/2016    12669      8.16          8.16
6 1503960366 4/17/2016     9705      6.48          6.48
  LoggedActivitiesDistance VeryActiveDistance ModeratelyActiveDistance
1 0                        1.88               0.55
2 0                        1.57               0.69
3 0                        2.44               0.40
4 0                        2.14               1.26
5 0                        2.71               0.41
6 0                        3.19               0.78
  LightActiveDistance SedentaryActiveDistance VeryActiveMinutes
1 6.06                0                       25
2 4.71                0                       21
3 3.91                0                       30
4 2.83                0                       29
5 5.04                0                       36
6 2.51                0                       38
  FairlyActiveMinutes LightlyActiveMinutes SedentaryMinutes Calories
1 13                  328                   728             1985
2 19                  217                   776             1797
3 11                  181                  1218             1776
4 34                  209                   726             1745
5 10                  221                   773             1863
6 20                  164                   539             1728

  Id         SleepDay              TotalSleepRecords TotalMinutesAsleep
1 1503960366 4/12/2016 12:00:00 AM 1                 327
2 1503960366 4/13/2016 12:00:00 AM 2                 384
3 1503960366 4/15/2016 12:00:00 AM 1                 412
4 1503960366 4/16/2016 12:00:00 AM 2                 340
5 1503960366 4/17/2016 12:00:00 AM 1                 700
6 1503960366 4/19/2016 12:00:00 AM 1                 304
  TotalTimeInBed
1 346
2 407
3 442
4 367
5 712
6 320

In [7]:
# Inspecting the dimensions of both the datasets:

dim(dataset_1)
dim(dataset_2)

[1] 940  15

[1] 413   5

In [10]:
# Merging the datasets by the common column 'Id' and creating a new dataset 'merged_dataset':

merged_dataset <- merge(dataset_1, dataset_2, by='Id')

# Inspecting the dimensions of the merged dataset:

dim(merged_dataset)

# Previewing the merged dataset:

head(merged_dataset)

[1] 12441    19

  Id         ActivityDate TotalSteps TotalDistance TrackerDistance
1 1503960366 5/7/2016     11992      7.71          7.71
2 1503960366 5/7/2016     11992      7.71          7.71
3 1503960366 5/7/2016     11992      7.71          7.71
4 1503960366 5/7/2016     11992      7.71          7.71
5 1503960366 5/7/2016     11992      7.71          7.71
6 1503960366 5/7/2016     11992      7.71          7.71
  LoggedActivitiesDistance VeryActiveDistance ModeratelyActiveDistance
1 0                        2.46               2.12
2 0                        2.46               2.12
3 0                        2.46               2.12
4 0                        2.46               2.12
5 0                        2.46               2.12
6 0                        2.46               2.12
  LightActiveDistance SedentaryActiveDistance VeryActiveMinutes
1 3.13                0                       37
2 3.13                0                       37
3 3.13                0                       37
4 3.13                0                       37
5 3.13                0                       37
6 3.13                0                       37
  FairlyActiveMinutes LightlyActiveMinutes SedentaryMinutes Calories
1 46                  175                  833              1821
2 46                  175                  833              1821
3 46                  175                  833              1821
4 46                  175                  833              1821
5 46                  175                  833              1821
6 46                  175                  833              1821
  SleepDay              TotalSleepRecords TotalMinutesAsleep TotalTimeInBed
1 4/12/2016 12:00:00 AM 1                 327                346
2 4/13/2016 12:00:00 AM 2                 384                407
3 4/15/2016 12:00:00 AM 1                 412                442
4 4/16/2016 12:00:00 AM 2                 340                367
5 4/17/2016 12:00:00 AM 1                 700                712
6 4/19/2016 12:00:00 AM 1                 304                320